# Ignorar archivos del frontend en las estadísticas de lenguajes
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Forzar a que detecte Solidity
*.sol linguist-detectable=true
